.wrapper-playlist {
  border: 1px black solid;
  padding: 60px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #ddd;
}

.playlist-details {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding: 20px;
}